@media screen and (max-width: 576px){
    p{
        color:aqua;
    }
}
@media screen and (min-width: 577px )and (max-width: 912px){
    p{
        color:red;
    }
}
/* @media screen and (max-width: 576px){
    p{
        color:aqua;
    }
} */